.btn {
  width: 15rem;
  height: 4rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.btn--primary {
  background: $third-background-color;
  // border: 1px solid $base-color;
  color: $active-color;
  font-size: $regular-font-size;
  // font-weight: $bold-font;
}

.btn--swap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10%;
  bottom: 5%;
  z-index: 1;
  width: 5rem;
  height: 5rem;
  background-image: $third-background-color;
  // filter: blur(3px);
  outline: 2px solid $border-color;
  border-radius: 50%;
  font-size: $regular-font-size;
  font-weight: $bold-font;
  color: $font-color;

    .icon {
      width: 3rem;
      height: 3rem;
    }
}

.menu--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 5%;
  left: 0;
  background-color: $base-color;
  border-left: 3px solid $active-color;
  // clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  z-index: 1;

  .icon {
    width: 2.5rem;
    height: 2.5rem;
    color: $active-color;
  }
}