.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:active {
    @include active-state();
  }
}

.btn--primary {
  background: none;
  border: 1px solid $active-color;
  font-size: $regular-font-size;
  color: $active-color;
  min-width: 15rem;
  height: auto;
  padding: 1rem;
  &:active {
    @include active-state();
  }
  // font-weight: $bold-font;
}
.btn--cancel {
  background: none;
  border: 1px solid $loser-color;
  font-size: $regular-font-size;
  background-color: none;
  color: $font-color;
  min-width: 15rem;
  height: auto;
  padding: 1rem;
  &:active {
    @include active-state();
  }
  // font-weight: $bold-font;
}

.btn--large {
  width: 100%;
  background: $third-background-color;
  font-size: $regular-font-size;
  color: $active-color;
  // color: ;
}

.btn--outline {
  border: 1px solid $border-color;
  background: none;
  color: $active-color;
}
.btn--swap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10%;
  bottom: 5%;
  z-index: 1;
  width: 5rem;
  height: 5rem;
  background-image: $third-background-color;
  // filter: blur(3px);
  border: 2px solid $border-color;
  border-radius: 50%;
  font-size: $regular-font-size;
  font-weight: $bold-font;
  color: $font-color;

    .icon {
      width: 3rem;
      height: 3rem;
    }
}

.btn--dismiss {
  padding: 0 1rem;
  border: 1px solid $border-color;
  color: $active-color;
  background: none;
}

.menu--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 4rem;
  position: fixed;
  top: 5%;
  left: 0;
  background-color: $base-color;
  cursor: pointer;
  // border-left: 3px solid $active-color;
  // clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  z-index: 1;
  
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    color: $active-color;
  }

  &:active {
    @include active-state();
  }
}