@mixin cards-mixin($display, $height) {
  display: $display;
  // justify-content: space-evenly;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  width: 24rem;
  height: $height;
  // max-height: 22rem;
  background-color: $glass-color;
  border: 1px solid $border-color;
  box-shadow: $box-shadow;
  // outline: 1px solid $border-color;
  border-radius: 1rem;
  overflow: hidden;
}


@mixin text-mixin($size, $color) {
  font-size: $size;
  color: $color;
  // margin-bottom: 1rem;
}

@mixin gainers-losers($color) {
    // width: 100%;
    border: 1px solid $border-color;
    border-radius: 1rem;

    h2 {
      font-size: 3rem;
      color: $color;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      span {
        color: $color;
        .icon {
          font-size: 5rem;

        }
      }
    }

    .feature__list {
      position: relative;
      .top--asset {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $regular-font-size;
        margin-bottom: 1rem;

        div {
          display: flex;
          // justify-content: space-between;
          // width: 50%;
          &:hover {
            @include hover-state-opacity();
          }


          

          figure {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 2rem;
            
            img {
              width: inherit;
              height: inherit;
              object-fit: cover;
            }
  
            
          }

          &:active {
            @include active-state();
          }
        }

        h3 {
          // color: $color;
          // span {
          //   .icon {
          //     font-size: $large-font-size;
          //   }
          // }
          &:nth-child(2) {
            // display: flex;
            // width: 50%;
            // align-items: center;
            // color: $active-color;
            

          }
        }

        .loser--color {
          display: flex;
          align-items: center;
          span {
            width: 3rem;
            height: 3rem;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;

            .icon {
              font-size: $regular-font-size;
            }
          }
        }
        .gainer--color {
          display: flex;
          align-items: center;
          span {
            width: 3rem;
            height: 3rem;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;

            .icon {
              font-size: $regular-font-size;
            }
          }
        }
      }
    }
}
.card {
  @include cards-mixin(flex, 7.5rem);
  padding: 1rem;
  cursor: pointer;
  // border: 1px solid red;
  &:active {
    @include active-state();
  }
  .card__info {
    h2 {
      margin-right: 1rem;
      font-size: $regular-font-size;
      color: $active-color;
    }

    h3{
      color: $base-color;

    }

    p {
      color: $base-color;
    }

    .conference {
      display: flex;
      justify-content: space-around;

      h3 {
        color: $active-color;
      }
    }
    .trade--volume {
      color: $gainer-color;
    }
  }

  .card__percent {
    // color: $gainer-color;
    h2 {
      display: flex;
      align-items: center;
      .icon {
        font-size: $regular-font-size;
      }
    }
  }
  .card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: $box-shadow;
    // border: 1px solid $active-color;
    overflow: hidden;
    margin-right: 1rem;
    .card--image {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }

  .card__percent {
    display: flex;
    justify-content: space-between;
    width: 5rem;
  }

  .rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $base-color;
    color: $active-color;
  }
}

.news__card {
  @include cards-mixin(flex, 25rem);
  flex-direction: column;
  justify-content: space-between;
  // margin: 0 .5rem;
  outline: none;
  .card__cover {
    width: 100%;
    height: 12rem;
    box-shadow: $box-shadow;
    // margin-bottom: 1rem;
    .card--cover {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
    
  }
  
  .conference {
    display: flex;
    justify-content: space-between;
    // align-items: space-around;
    font-size: $small-font-size;
    color: $active-color;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;

    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem;
      height: 3rem;
      text-decoration: none;
      border: 1px solid $border-color;
      border-radius: .5rem;
      color: $active-color;
    }
    // margin-bottom: 1rem;
  }
  
  .news__info {
    // padding: 1rem;
    
    h2 {
      @include text-mixin($regular-font-size, $font-color)
    }
    p {
      @include text-mixin($small-font-size, $base-color)
    }
  }

}

.read__more__card {
  @include cards-mixin(flex, 25rem);
  text-align: start;
  // padding: .5rem;
  transition: $regular-transition;

  .icon {
    font-size: $jumbo-font-size;
    color: $active-color;
    height: 100%;
  }
  .icon:hover {
    outline: 1px solid $active-color;
  }

  .read__more {
    h2 {
      // margin-bottom: 1rem;
      font-size: $large-font-size;
      color: $font-color;
    }

    .read__cover {
      opacity: .8;
    }
  }
}

.interest__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 15rem;
  background-color: $second-base-color;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: $box-shadow;
  
  .interest--earned {
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-size: $large-font-size;
    color: $font-color;
    z-index: 1;
  }

  .learn__earn {
    h2 {
      font-size: $large-font-size;
      color: $active-color;
    }
    p{
      font-size: $regular-font-size;
      font-weight: $regular-font;
      color: $base-color;
    }
    z-index: 1;
  }

  .img--fix {

  }
  .study__image {
    width: 30rem;
    position: absolute;
    right: -15%;
    bottom: -15%;

    img {
      width: 100%;
      object-fit: cover;
      opacity: .4;
    }
  }

  .earned {
    font-size: $extra-large-font-size;
    color: $active-color;

    span {
      color: $font-color;
    }
  }

  .icon {
    font-size: $extra-large-font-size;
    color: $active-color;
    position: absolute;
    right: 5%;
    bottom: 5%;
  }
}

.main__news__card {
  position: absolute;
  // top: 4rem;
  left: 10%;
  font-size: $small-font-size;  
  color: $font-color;

  h2 {
    display: inline-grid;
    align-items: center;
    a {
      font-weight: $ligh-font;
      color: $active-color;
    }

  }
}


.learn__section {
  padding: 1rem;
  border: 2px solid $border-color;
  border-radius: 1rem;

  .wrapper__cards {
    display: flex;
    justify-content: flex-start;
    // justify-content: space-between;
    flex-wrap: wrap;
    
    .learn__card {
      width: 100%;
      margin: 1rem 0;
      // padding: 0 1rem;
    }
  }
}

.learn__card {
  @include cards-mixin(inline, 20rem);
  
  figure {
    width: 100%;
    height: 10rem;
    box-shadow: $box-shadow;
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }

  }

  h2 {
    font-size: $large-font-size;
    color: $font-color;
  }
  
  h3 {
    display: flex;
    justify-content: space-between;
    font-size: $regular-font-size;
    color: $gainer-color;
    span {
      color: $base-color;
    }
  }
}

.feature {
  overflow: hidden;
  // display: flex;
  margin-top: 5rem;

  
  cursor: pointer;
  h2 {
    font-size: $extra-large-font-size;
    color: $font-color;
  }
  .based--100--coins {
    font-size: $regular-font-size;
    color: $active-color;
  }

  .gainers__losers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 1rem;
    user-select: none;
    // padding: 0 1rem;
    .feature__gainers {
      position: relative;
      &:hover {
        @include hover-state();
      }
      width: 100%;
      .glass {
        top: 0;
        left: 0
      }
      /* width: 100%; */
      @include gainers-losers($gainer-color);
      margin-top: 1rem;
      // justify-content: space-between;
    }
    .feature__losers {
      position: relative;
      width: 100%;
      &:hover {
        @include hover-state();
      }
      .glass {
        top: 0;
        left: 0
      }
      /* width: 100%; */
      @include gainers-losers($loser-color);
      margin-top: 1rem;
    }
    .feature__assets__random {
      position: relative;
      width: 100%;
      &:hover {
        @include hover-state();
      }
      .glass {
        top: 0;
        left: 0;
      }

      @include gainers-losers($font-color);
      margin-top: 1rem;
    }

    .suggested {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      width: 100%;
      overflow: hidden;
      &:hover {
        @include hover-state();
      }
      // align-items: flex-start;
      // justify-content: flex;
      text-align: center;
      padding: 1rem;
      .suggested__asset {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        z-index: 1;
        h2 {
          // display: flex;
          // justify-content: flex-end;
          align-items: center;
          font-size: $large-font-size;
          ;
        }
        h3 {
          display: flex;
          // justify-content: flex-end;
          align-items: center;
          font-size: $regular-font-size;
          color: $gainer-color;
        }
        figure {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
          }
        }

        div {
          display: flex;
          // flex-wrap: wrap;
          // justify-content: space-between;
          // position: absolute;
          // bottom: 0%;
          // left: 0%;
          button {
            margin-bottom: 1rem;
            width: 10rem;
            
            margin-right: 1rem;
          }
        }
      }

      .change__suggestion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // position: absolute;
        // bottom: -10%;
        // right: -5%;
        // z-index: -1;
        .asset__prev__next {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 50%;
          position: absolute;
          top: 5%;
          right: 0;
          z-index: 1;
          .back {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;

            .icon {
              font-size: $extra-large-font-size;
              color: $active-color;
            }
          }
          .forward {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;

            .icon {
              font-size: $extra-large-font-size;
              color: $active-color;
            }
          }


        }
        figure {
          width: 15rem;
          position: absolute;
          bottom: -30%;
          right: -10%;
          transform: rotate(-15deg);
          opacity: .8;
          // z-index: -1;
          user-select: none;
          img {
            width: inherit;
          }
        }
      }
      
      .glass {
        top: 0;
        left: 0;
      }

      @include gainers-losers($font-color);
      margin-top: 1rem;
    }
  }

}

.register__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $main-background-color;
  z-index: 2;

  .close {
    position: absolute;
    left: 5%;
    top: 5%;
    cursor: pointer;
    &:active {
      @include active-state();
    }
    .icon {
      font-size: $extra-large-font-size;
      color: $active-color;
    }
  }
  .card__preview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
    border: 1px solid $border-color;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    h2 {
      font-size: $extra-large-font-size;
      color: $base-color;

      &:last-child {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
    }
  }

  .card__billing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    h2 {
      font-size: $extra-large-font-size;
      margin: 3rem 0;
      color: $font-color;
      align-self: flex-start;
      // text-align: start;
    }
    .billing__fields {
      text-align: center;
      
      input {
        text-align: center;
        // display: flex;
        // justify-content: center;
        background-color: $background-color;
        border: none;
        width: 99%;
        height: 4rem;
        border: 1px solid $border-color;
        border-radius: 1rem;
        outline: none;
        margin-bottom: 1rem;
        font-size:  $large-font-size;
        color: $second-font-color;
        // margin: 1rem;
        &:nth-child(3) {
          width: 45%;
          float: left;
        }
        &:nth-child(4) {
          width: 45%;
          float: right;
        }
      }
    }
  }
}

.nft__card {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 1rem;
  figure {
    width: 100%;
    position: relative;
    height: 100%;
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }

  .nft__data {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $background-color;

    .nft__username {
      display: flex;
      align-items: center;
      justify-content: space-around;
      // width: 40%;
      h3 {
        font-size: $regular-font-size;
        font-weight: $ligh-font;
        color: $font-color;
      }
      figure {
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }
    }
    .nft__price {
      display: flex;
      align-items: center;
      justify-content: space-around;
      // width: 40%;
      h3 {
        font-size: $regular-font-size;
        font-weight: $ligh-font;
        color: $font-color;
      }
      figure {
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }
    }
  }
}