.chart {
  width: 100%;
  // background-color: $second-base-color;
  position: relative;
  height: auto;
  border: 1px solid $border-color;
  border-radius: 1rem;
  // padding: 1rem;
  // margin: 0 3rem;
  color: $active-color;
  background: $glass-color;
  .portafolio__balance {
    // position: absolute;
    // top: 10%;
  }

  .portafolio__chart {
    position: relative;
  }

}

.chart__options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 30%;
  right: 0;
  top: -4rem;
  // float: right;
  position: absolute;
  z-index: 1;
  // position: absolute;
  // top: 15%;
  // right: 5%;
  h2 {
    font-size: $regular-font-size;
    color: $active-color;
  }
  .chart__list__options {
    display: flex;
    justify-content: space-between;
    
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      // border: 1px solid $border-color;
      border-radius: 5px;
      background-color: $base-color;
      color: $second-font-color;
    }
  }
}