@mixin containers($width) {
  width: $width;
  margin: 0 auto;
}

.c100 {
  @include containers(100%)
}
.c95 {
  @include containers(95%)
}
.c90 {
  @include containers(90%)
}
.c80 {
  @include containers(80%)
}
.c50 {
  @include containers(50%)
}
.c45 {
  @include containers(45%)
}

.wrapper {
  margin: 1rem 0;
  // padding-left: 1rem;
  .wrapper--title {
    font-size: $extra-large-font-size;
    color: $font-color;
    padding-left: 1rem;
    // width: 100%;
    // border: 1px solid $active-color;
  }
  .wrapper__cards {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    // width: 100%;
    min-height: 10rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    
    // .card {
    //   margin: 0 .5rem;
    // }

  }
}

.wrapper__cards::-webkit-scrollbar {
  display: none;
}

.w--h {
  height: 30rem;
}