//PADDING

.pd {
  padding: 1rem;
}

.pd-v {
  padding: 1rem 0;
}

.pd-h {
  padding: 0 1rem;
}

.pd-top {
  padding-top: 1rem;
}
.pd-right {
  padding-right: 1rem;
}
.pd-bottom {
  padding-bottom: 1rem;
}
.pd-left {
  padding-left: 1rem;
}

//MARGIN

.mg {
  margin: 1rem;
}

.mg-v {
  margin: 1rem auto;
}

.mg-h {
  margin: auto 1rem;
}

.mg-top {
  margin-top: 1rem;
}
.mg-right {
  margin-right: 1rem;
}
.mg-bottom {
  margin-bottom: 1rem;
}
.mg-left {
  margin-left: 1rem;
}