.empty__component {
      /* width: 100%; */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 10rem;
      border: 1px solid $border-color;
      border-radius: .5rem;
      font-size: $regular-font-size;
      color: $active-color;
}