//MARGIN

.mg {
  margin: 1rem;
}

.mg--v {
  margin: 1rem auto;
}

.mg--v {
  margin: 1rem auto;
}

.mg--h {
  margin: auto 1rem;
}

.mg--t {
  margin-top: 1rem;
}

.mg--r {
  margin-right: 1rem;
}

.mg--bottom {
  margin-bottom: 1rem;
}

.mg--l {
  margin-left: 1rem;
}
  //MARGIN 3REM
.mg--v--3 {
  margin: 3rem auto;
}

.mg--v--3 {
  margin: 3rem auto;
}

.mg--h--3 {
  margin: auto 3rem;
}

.mg--t--3 {
  margin-top: 3rem;
}

.mg--r--3 {
  margin-right: 3rem;
}

.mg--bottom--3 {
  margin-bottom: 3rem;
}

.mg--l--3 {
  margin-left: 3rem;
}

//PADDING

.pd {
  margin: 1rem;
}

.pd--v {
  margin: 1rem auto;
}

.pd--h {
  margin: auto 1rem;
}

.pd--t {
  margin-top: 1rem;
}

.pd--r {
  margin-right: 1rem;
}

.pd--bottom {
  margin-bottom: 1rem;
}

.pd--l {
  margin-left: 1rem;
}
