.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .search {
    position: absolute;
    right: 1%;
    top: 100%;
  }


  

  .header__info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    height: 5rem;
    margin-top: 3rem;

    // .main__news__card {
    //   left: 10%;
    // }
  }

}
.top__news__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: inherit;
  background-color: $background-color;
  overflow-x: hidden;
  border-bottom-left-radius: 1rem;
  .list__news{
    display: flex;
    // padding-left: 1rem;
    .news--item {
      width: auto;
      font-size: 1rem;
      color: #F0F0F0;
      flex-shrink: 0;
      margin-right: 1rem;
    }
  }
}

