.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .search {
    position: absolute;
    right: 1%;
    top: 100%;
  }
}
.top__news__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: inherit;
  background-color: $background-color;
  overflow-x: hidden;
  border-bottom-left-radius: 1rem;
  .list__news{
    display: flex;
    // padding-left: 1rem;
    .news--item {
      width: 10rem;
      // margin-right: 1rem;
      font-size: $extra-small-font-size;
      color: $font-color;
    }
  }
}

