.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: $second-background-color;
  border-right: 3px solid $active-color;
  z-index: 2;

  .btn {
    position: absolute;
    right: 5%;
    bottom: 10%;
  }

  .menu--button {
    position: absolute;
    left: 100%;
    // border: 3px solid $active-color;
  }
  // text-align: center;
}

.desk__menu {
  width: 15%;
  display: none;
}

.profile__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $profile-image-size;
  height: $profile-image-size;
  border-radius: 50%;
  overflow: hidden;
  outline: 2px solid $active-color;

  img {
    width: calc($profile-image-size - 1rem);
    height: calc($profile-image-size - 1rem);
    border-radius: 50%;
    border: 1px solid $base-color;
    // object-fit: co;
  }

}
.menu__stats {

  text-align: center;
  color: $font-color;
}

.navbar {
  text-align: start;

  .navbar__list {

    .navbar--item {
      &:active {
        @include active-state();
      }
      a {
        
        font-size: $large-font-size;
        color: $font-color;
      }
    }
  }
}

.username {
  font-size: $regular-font-size;
}
.balance {
  font-size: $regular-font-size;
  span {
    color: $active-color;
  }
}