

.regular__pagination {
  display: flex;
  justify-content: space-between;
  
  .icon {
    font-size: $extra-large-font-size;
    // width: 5rem;
    color: $active-color;
  }
}

.pagination {
  // text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: $large-font-size;
    color: $font-color;
    text-align: center;
    margin-bottom: 1rem;
    span {
      font-size: $large-font-size;
      color: $active-color;
    }
  }
  .pagination__list {
    display: flex;

    justify-content: flex-end;
    align-items: center;
    // width: 100%;
    height: auto;
    // border: 1px solid $active-color;
    color: $active-color;
    font-size: $large-font-size;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      // text-align: center;
      width: 5rem;
      height: 3rem;
      // border-radius: 1rem;
      border: 1px solid $active-color;
      margin-right: 1rem;
      // background-color: $second-base-color;
      transition: .2s ease;
      cursor: pointer;
      &:active {
        box-shadow: $box-shadow;
        transform: scale(.95);
        opacity: .8;
        background-color: $base-color;
      }
      &:hover {
        box-shadow: $box-shadow;
      }
    }

    .current {
      border: 2px solid $active-color;
    }

    .prev--page {
      height: 4rem;
      font-size: $regular-font-size;
      opacity: .7;
      
    }
    .next--page {
      height: 4rem;
      font-size: $regular-font-size;
      opacity: .7;
      
    }

    .prev--page--2 {
      height: 3rem;
      font-size: $small-font-size;
      opacity: .4;
    }

    .next--page--2 {
      height: 3rem;
      font-size: $small-font-size;
      opacity: .4;
    }

    .prev {
      border: none;
      background-color: none;
      cursor: pointer;
      &:active {
        @include active-state();
      }
      &:hover {
        @include hover-state-opacity();
      }
    }
    .next {
      border: none;
      background-color: none ;
      cursor: pointer;
      &:active {
        @include active-state();
      }
      &:hover {
        @include hover-state-opacity();
      }
    }

  }
}