$background-color:              #004b88;
$popup-color:              #00474d;
$main-background-color: linear-gradient(228deg, rgb(4, 96, 124) 22%, rgb(37, 37, 37) 100%);
$second-background-color: linear-gradient(352deg, rgb(3, 159, 221) 22%, rgb(1, 38, 73) 100%);
$third-background-color: linear-gradient(180deg, rgb(31, 105, 166) 54%, rgb(0, 59, 136) 100%);
$dark-background: #1a2122;
// $btn-main-color: linear-gradient(131deg, rgba(4,118,125,1) 61%, rgba(0,180,191,1) 100%);

$base-color: #0868b6;
$second-base-color: rgb(4, 66, 125);
$active-color: #0787ff;
$border-color: #002dbf;

$glass-color: #00528852;
$glass2-color: #005288a4;

$font-color: #F0F0F0;
$second-font-color: #AFFAFF; 
// $active-font-color: #AFFAFF;

$gainer-color: #0DC96E;
$loser-color: #f56b6b;
$regular-color: #d4d639;

$good-score-color: #0dc96e85;
$bad-score-color: #f56b6b85;
$regular-score-color: #d4d63985;

$shadow-color: #022d33;

$extra-small-font-size: 1rem;
$small-font-size: 1.2rem;
$regular-font-size: 1.6rem;
$large-font-size: 2rem;
$extra-large-font-size: 2.4rem;
$jumbo-font-size: 3.5rem;
$extra-jumbo-font-size: 10rem;


$ligh-font: 300;
$regular-font: 500;
$bold-font: 700;

$box-shadow: 0px 0px 5px $shadow-color;

$regular-transition: .3s ease;

$profile-image-size: 10rem;