$background-color:              #008088;
$popup-color:              #00474d;
$main-background-color: linear-gradient(228deg, rgb(4, 116, 124) 22%, rgb(37, 37, 37) 100%);
$second-background-color: linear-gradient(352deg, rgba(3,208,221,1) 22%, rgba(1,68,73,1) 100%);
$third-background-color: linear-gradient(180deg, rgba(31,158,166,1) 54%, rgba(0,128,136,1) 100%);
$dark-background: #1a2122;
// $btn-main-color: linear-gradient(131deg, rgba(4,118,125,1) 61%, rgba(0,180,191,1) 100%);

$base-color: #08ACB6;
$second-base-color: rgb(4,118,125);
$active-color: #07F1FF;
$border-color: #00B4BF;

$glass-color: #00808852;

$font-color: #F0F0F0;
$second-font-color: #AFFAFF; 
// $active-font-color: #AFFAFF;

$gainer-color: #0DC96E;
$loser-color: #f56b6b;
$regular-color: #d4d639;

$good-score-color: #0dc96e85;
$bad-score-color: #f56b6b85;
$regular-score-color: #d4d63985;

$shadow-color: #022d33;

$extra-small-font-size: 1rem;
$small-font-size: 1.2rem;
$regular-font-size: 1.6rem;
$large-font-size: 2rem;
$extra-large-font-size: 2.4rem;
$jumbo-font-size: 3.5rem;
$extra-jumbo-font-size: 10rem;


$ligh-font: 300;
$regular-font: 500;
$bold-font: 700;

$box-shadow: 0px 0px 5px $shadow-color;

$regular-transition: .3s ease;

$profile-image-size: 10rem;