$background-color:              #008088;
$main-background-color: linear-gradient(228deg, rgb(4, 116, 124) 22%, rgb(37, 37, 37) 100%);
$second-background-color: linear-gradient(352deg, rgba(3,208,221,1) 22%, rgba(1,68,73,1) 100%);

$btn-color: rgb(4,118,125);
$btn-main-color: linear-gradient(131deg, rgba(4,118,125,1) 61%, rgba(0,180,191,1) 100%);
$base-color: #08ACB6;
$active-color: #07F1FF;
$border-color: #00B4BF;

$font-color: #F0F0F0;
$second-font-color: #AFFAFF; 
// $active-font-color: #AFFAFF;

$gainer-color: #0DC96E;
$losser-color: #f56b6b;

$shadow-color: #022d33;

$extra-small-font-size: 1rem;
$small-font-size: 1.2rem;
$regular-font-size: 1.6rem;
$large-font-size: 2rem;
$extra-large-size: 2.4rem;
$jumbo-size: 3.5rem;
$extra-jumbo-size: 5rem;

$ligh-font: 300;
$regular-font: 400;
$bold-font: 700;

$box-shadow: 0px 0px 11px $shadow-color;