@mixin active-state() {
  transform: scale(.9);
  transition: .2s ease-in;
  opacity: .8;
}

@mixin hover-state() {
  // border:1px solid $active-color;
  transition: .2s ease-in;
}

@mixin hover-state-opacity() {
  transform: scale(.99);
  transition: .2s ease-in;
  opacity: .8;
}

@mixin hover-state-active() {
  transition: .1s ease-in;
  color: $active-color;
}