.pay__page {
  position: relative;


  .asset__swap {
    position: fixed;
    top: 0;
    overflow-y: hidden;
  }
  .send__section {
    
    .swap__amount {

      height: 10rem;
      .amount {
        
      }
      p {
        display: none;
      }
    }
  }
  // margin-top: 5rem;
}