@mixin portafolio-titles {
  padding-left: 3rem;
  font-size: $extra-large-font-size;
  color: $font-color;
}
.portafolio {
  margin-top: 5rem;
  .portafolio__chart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
  }

  .portafolio__balance {
    font-size: $large-font-size;
    color: $font-color;

    h3 {
      font-size: $large-font-size;
      color: $active-color;
    }
  }
  
.portafolio__main__section {
  .feature {
    margin-top: 0;

    h2 {
      margin-left: 1rem;
    }
    h3 {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }

    .feature__gainers {
      h2 {
        margin: 0;
      }
    }
    .feature__losers {
      h2 {
        margin: 0;
      }
    }
    .feature__assets__random {
      h2 {
        margin: 0;
      }
    }
  }
}

  .portafolio__assets {
    
    h2 {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      font-size: $extra-large-font-size;
      color: $font-color;
      // color: ;
      // @include portafolio-titles();
      // margin: 1rem ;
    }

    .crypto__coins {
      margin: 0
    }
    
  }

  .portafolio__wishlist {
    h2 {
      @include portafolio-titles();
    }
    .crypto__coins {
      margin: 0
    }
  }

  .portafolio__aside {
    // display: ;
    .portafolio__aside__content {
      .swap {
        display: none;
      }
      h2 {
        font-size: 2.4rem;
        margin: 1rem;
        margin-bottom: 2rem;
        color: white;
      }
      .news__info__aside {
        display: none;
      }
    }
  }
}