@mixin portafolio-titles {
  padding-left: 3rem;
  font-size: $extra-large-font-size;
  color: $font-color;
}
.portafolio {
  margin-top: 5rem;
  .portafolio__chart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
  }

  .portafolio__balance {
    font-size: $large-font-size;
    color: $font-color;

    h2 {
      font-size: $regular-font-size;
      color: $active-color;
    }
  }
  
  .portafolio__assets {
    
    h2 {
      @include portafolio-titles();
    }
  }

  .portafolio__wishlist {
    h2 {
      @include portafolio-titles();
    }
  }

  .portafolio__aside {
    // display: ;
    .portafolio__aside__content {
      .swap {
        display: none;
      }

      .news__info__aside {
        display: none;
      }
    }
  }
}