.trade__section {
  .trade__aside {
    display: none;
  }
}

.crypto__coins {
  // margin-top: 5rem;
  .crypto__table {

    .glass {
      left: 0;
      top: 0;
      
    }
  }
  .regular__pagination {
    // margin-top: 3rem;
  }
}