@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

.mg {
  margin: 1rem;
}

.mg--v {
  margin: 1rem auto;
}

.mg--v {
  margin: 1rem auto;
}

.mg--h {
  margin: auto 1rem;
}

.mg--t {
  margin-top: 1rem;
}

.mg--r {
  margin-right: 1rem;
}

.mg--b {
  margin-bottom: 1rem;
}

.mg--l {
  margin-left: 1rem;
}

.mg--v--3 {
  margin: 3rem auto;
}

.mg--v--3 {
  margin: 3rem auto;
}

.mg--h--3 {
  margin: auto 3rem;
}

.mg--t--3 {
  margin-top: 3rem;
}

.mg--r--3 {
  margin-right: 3rem;
}

.mg--b--3 {
  margin-bottom: 3rem;
}

.mg--l--3 {
  margin-left: 3rem;
}

.pd {
  padding: 1rem;
}

.pd--v {
  padding: 1rem 0;
}

.pd--h {
  padding: 0 1rem;
}

.pd--t {
  padding-top: 1rem;
}

.pd--r {
  padding-right: 1rem;
}

.pd--bottom {
  padding-bottom: 1rem;
}

.pd--l {
  padding-left: 1rem;
}

.pd--3 {
  padding: 3rem;
}

.pd--v--3 {
  padding: 1rem 0;
}

.pd--h--3 {
  padding: 0 3rem;
}

.pd--t--3 {
  padding-top: 3rem;
}

.pd--r--3 {
  padding-right: 3rem;
}

.pd--b--3 {
  padding-bottom: 3rem;
}

.pd--l--3 {
  padding-left: 3rem;
}

.c100 {
  width: 100%;
  margin: 0 auto;
}

.c95 {
  width: 95%;
  margin: 0 auto;
}

.c90 {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  margin: 1rem 0;
}

.wrapper .wrapper--title {
  font-size: 2.4rem;
  color: #F0F0F0;
  padding-left: 1rem;
}

.wrapper .wrapper__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.wrapper__cards::-webkit-scrollbar {
  display: none;
}

.w--h {
  height: 30rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .search {
  position: absolute;
  right: 1%;
  top: 100%;
}

.top__news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: inherit;
  background-color: #008088;
  overflow-x: hidden;
  border-bottom-left-radius: 1rem;
}

.top__news__container .list__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__news__container .list__news .news--item {
  width: 10rem;
  font-size: 1rem;
  color: #F0F0F0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24rem;
  height: 7.5rem;
  background-color: #008088;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
  border-radius: 1rem;
  overflow: hidden;
}

.card .card__info h2 {
  font-size: 1.6rem;
  color: #07F1FF;
}

.card .card__info h3 {
  color: #08ACB6;
}

.card .card__info p {
  color: #08ACB6;
}

.card .card__info .conference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card .card__info .conference h3 {
  color: #07F1FF;
}

.card .card__info .trade--volume {
  color: #0DC96E;
}

.card .card__percent {
  color: #0DC96E;
}

.card .card__percent h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card__percent h2 .icon {
  font-size: 1.6rem;
}

.card .card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
  overflow: hidden;
}

.card .card__image .card--image {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card__percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5rem;
}

.card .rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #08ACB6;
  color: #07F1FF;
}

.news__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24rem;
  height: 25rem;
  background-color: #008088;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
}

.news__card .card__cover {
  width: 100%;
  height: 12rem;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
}

.news__card .card__cover .card--cover {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__card .conference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  color: #07F1FF;
}

.news__card .news__info h2 {
  font-size: 2rem;
  color: #07F1FF;
}

.news__card .news__info p {
  font-size: 1.2rem;
  color: #08ACB6;
}

.read__more__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24rem;
  height: 25rem;
  background-color: #008088;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
  border-radius: 1rem;
  overflow: hidden;
  text-align: start;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.read__more__card .icon {
  font-size: 3.5rem;
  color: #07F1FF;
  height: 100%;
}

.read__more__card .icon:hover {
  outline: 1px solid #07F1FF;
}

.read__more__card .read__more h2 {
  font-size: 2rem;
  color: #F0F0F0;
}

.read__more__card .read__more .read__cover {
  opacity: .8;
}

.interest__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  height: 15rem;
  background-color: #04767d;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
}

.interest__card .interest--earned {
  position: absolute;
  right: 10%;
  bottom: 10%;
  font-size: 2rem;
  color: #F0F0F0;
  z-index: 1;
}

.interest__card .learn__earn {
  z-index: 1;
}

.interest__card .learn__earn h2 {
  font-size: 2rem;
  color: #07F1FF;
}

.interest__card .learn__earn p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #08ACB6;
}

.interest__card .study__image {
  width: 30rem;
  position: absolute;
  right: -15%;
  bottom: -15%;
}

.interest__card .study__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .4;
}

.interest__card .earned {
  font-size: 2.4rem;
  color: #07F1FF;
}

.interest__card .earned span {
  color: #F0F0F0;
}

.interest__card .icon {
  font-size: 2.4rem;
  color: #07F1FF;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.btn {
  width: 15rem;
  height: 4rem;
  outline: none;
  border: none;
}

.btn--primary {
  background: linear-gradient(131deg, #04767d 61%, #00b4bf 100%);
  color: #07F1FF;
  font-size: 1.6rem;
}

.btn--swap {
  width: 7rem;
  height: 7rem;
  background-color: #04767d;
  outline: 2px solid #00B4BF;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 700;
  color: #F0F0F0;
}

.crypto__coins {
  position: relative;
  margin-bottom: 3rem;
}

.crypto__table {
  border: 1px solid #07F1FF;
  border-radius: 5px;
  text-align: center;
}

.table__header {
  position: relative;
  font-size: 1.6rem;
  color: #07F1FF;
  height: 3rem;
  border-bottom: 1px solid #07F1FF;
}

.table__header hr {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: .2;
  border: 1px solid #07F1FF;
}

.price {
  font-weight: 700;
  text-align: end;
}

.price .supply {
  font-size: 1.2rem;
  font-weight: 500;
  color: #08ACB6;
}

tr {
  border-bottom: 1px solid #07F1FF;
}

.table__row {
  position: relative;
  border-bottom: 1px solid #07F1FF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: #07F1FF;
}

.table__row td {
  padding-bottom: 1rem;
}

.table__row hr {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: .2;
  border: 1px solid #07F1FF;
}

.rank {
  display: none;
}

.market--cap .market--mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0DC96E;
}

.market--cap .market--mark .icon {
  font-size: 1.6rem;
}

.volume {
  display: none;
}

.coin--rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  background-color: #08ACB6;
  color: #07F1FF;
  border-radius: 5px;
}

.coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.crypto__coin {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.crypto__coin .coin--image {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.coin--name {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: start;
}

.coin--name .short--name {
  width: 5rem;
  text-align: start;
  background-color: #04767d;
  color: #F0F0F0;
  border-radius: 5px;
}

.icon {
  font-size: 2rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

.search .search__icon {
  width: 3rem;
  height: 3.2rem;
}

.search .search__icon .icon {
  width: inherit;
  height: inherit;
  font-size: 2.4rem;
  color: #07F1FF;
  cursor: pointer;
}

.search .search__form {
  width: 20rem;
  height: 3rem;
}

.search .search__form .search--input {
  all: unset;
  width: 100%;
  height: inherit;
  outline: 1px solid #07F1FF;
  color: #F0F0F0;
  font-size: 1.6rem;
  border-radius: none;
  text-align: center;
  background: #04767d;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.home__page {
  width: 100%;
  height: auto;
  position: relative;
}

.home__page .btn--swap {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1;
}

.menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(352deg, #03d0dd 22%, #014449 100%);
  border-right: 3px solid #07F1FF;
  z-index: 1;
}

.menu .btn {
  position: fixed;
  right: 5%;
  bottom: 10%;
}

.profile__image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  outline: 2px solid #07F1FF;
}

.profile__image img {
  width: inherit;
  height: inherit;
}

.menu__stats {
  text-align: center;
  color: #F0F0F0;
}

.navbar {
  text-align: start;
}

.navbar .navbar__list .navbar--item {
  font-size: 2rem;
  color: #F0F0F0;
}

.username {
  font-size: 2rem;
}

.balance {
  font-size: 2rem;
}

.balance span {
  color: #07F1FF;
}

body {
  background: linear-gradient(228deg, #04747c 22%, #252525 100%);
  background-repeat: no-repeat;
}

.title {
  font-size: 2rem;
  color: #F0F0F0;
}

.blur {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #04767d;
  top: 0;
  left: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: .3;
}

.glass {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #04767d;
  -webkit-filter: contrast(1);
          filter: contrast(1);
  opacity: 0.4;
  z-index: -1;
}

.background__image {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background__image .background--image {
  width: 150%;
  height: inherit;
  position: absolute;
  left: 50%;
  bottom: -35%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: .4;
}

.main {
  width: 100%;
  height: 100vh;
  border-bottom: 2px solid #08ACB6;
  margin-bottom: 1rem;
  position: relative;
}

.main .btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=styles.css.map */