@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import './global//variables';
@import './global//reset';
@import './global//custom';
@import './global/containers';
@import './global/header';
@import './global//cards';
@import './global/buttons';
@import './global/crypto-table-style';
@import './global/icons';
@import './global//forms';
@import './pages/home';
@import './global/menu';
@import './global/swap';
@import './global/chart';
@import './global/video';
@import './global/news';
@import './global/pagination';
@import './global/pay-section';
@import './global/asset-info';
@import './global/quiz';
@import './global/gainer-loser';
@import './global/nft-asset';
@import './global/masonry';
@import './global/waves';
@import './global/loading';
@import './global/errors';


@import './pages/portafolio';
@import './pages//Asset';
@import './pages//pay';
@import './pages//news';
@import './pages//earn';
@import './pages//trade';
@import './pages//nft';

@import './media-queries/home-media-query';
@import './media-queries/swap-media-query';
@import './media-queries/portafolio-media-query';
@import './media-queries/trade-media-query';
@import './media-queries/earn-media-query';
@import './media-queries/news-media-query';
@import './media-queries/asset-media-query';
@import './media-queries/pay-media-query';
@import './media-queries/nft-media-query';

@import './interactions/main-interactions';


body {
  // background: $main-background-color;
  // background-repeat: no-repeat;
  // height: ;
}

a {
  text-decoration: none;
  color: $font-color;
  &:link {
    text-decoration: none;
  }
}


::placeholder {
  color: $base-color;
}

.router {
  position: relative;
  padding-top: 4rem;
}
.title {
  font-size: $large-font-size;
  color: $font-color;
}

.blur {
  width: 100%;
  height: 100vh;
  // border: 5px solid red;
  position: fixed;
  background-color: $second-base-color;
  top: 0;
  left: 0;
  filter: blur(1px);
  // display: none;
  opacity: .3;
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $main-background-color;
  z-index: -2;
}

.glass {
  width: 100%;
  height: 100%;
  position: absolute;
  background: $background-color;
  left: 0;
  top: 0;
  // filter: contrast(1);
  // filter: blur(10px);
  // filter: blur(73px);
  opacity: 0.6;
  z-index: -1;
}
.background__image {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  
  .background--image {
    width: 100%;
    height: inherit;
    // object-fit: cover;
    position: absolute;
    left: 50%;
    bottom: -35%;
    transform: translateX(-50%);
    opacity: .4;
    // opacity: .2;
  }
}

.main {
  // display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  border-bottom: 2px solid $base-color;
  margin-bottom: 1rem;
  position: relative;
  // padding: 10rem;
  // position: fixed;
  // top: 0;
  // left: 0;
  .btn {
    margin-bottom: 7rem;
    // position: absolute;
    // bottom: 10%;
    // left: 50%;
    // transform: translateX(-50%);
  }
}

.gainer--background {
  background-color: $gainer-color;
  color: $font-color;
}
.gainer--color {
  color: $gainer-color;
}
.loser--background {
  background-color: $loser-color;
  color: $font-color;
}
.loser--color {
  color: $loser-color;
}

::-webkit-scrollbar {
  width: 1rem;
  opacity: .5;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $border-color; 
  // border-radius: 1rem;
  background: $second-base-color;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $active-color; 
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $base-color; 
}