@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

.mg {
  margin: 1rem;
}

.mg--v {
  margin: 1rem auto;
}

.mg--v {
  margin: 1rem auto;
}

.mg--h {
  margin: auto 1rem;
}

.mg--t {
  margin-top: 1rem;
}

.mg--r {
  margin-right: 1rem;
}

.mg--b {
  margin-bottom: 1rem;
}

.mg--l {
  margin-left: 1rem;
}

.mg--v--3 {
  margin: 3rem auto;
}

.mg--v--3 {
  margin: 3rem auto;
}

.mg--h--3 {
  margin: auto 3rem;
}

.mg--t--3 {
  margin-top: 3rem;
}

.mg--r--3 {
  margin-right: 3rem;
}

.mg--b--3 {
  margin-bottom: 3rem;
}

.mg--l--3 {
  margin-left: 3rem;
}

.pd {
  padding: 1rem;
}

.pd--v {
  padding: 1rem 0;
}

.pd--h {
  padding: 0 1rem;
}

.pd--t {
  padding-top: 1rem;
}

.pd--r {
  padding-right: 1rem;
}

.pd--b {
  padding-bottom: 1rem;
}

.pd--l {
  padding-left: 1rem;
}

.pd--3 {
  padding: 3rem;
}

.pd--v--3 {
  padding: 1rem 0;
}

.pd--h--3 {
  padding: 0 3rem;
}

.pd--t--3 {
  padding-top: 3rem;
}

.pd--r--3 {
  padding-right: 3rem;
}

.pd--b--3 {
  padding-bottom: 3rem;
}

.pd--l--3 {
  padding-left: 3rem;
}

.bottom--line {
  width: 80%;
  margin: 0 auto;
  opacity: .2;
  border: 1px solid #07F1FF;
}

.c100 {
  width: 100%;
  margin: 0 auto;
}

.c95 {
  width: 95%;
  margin: 0 auto;
}

.c90 {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  margin: 1rem 0;
}

.wrapper .wrapper--title {
  font-size: 2.4rem;
  color: #F0F0F0;
  padding-left: 1rem;
}

.wrapper .wrapper__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.wrapper__cards::-webkit-scrollbar {
  display: none;
}

.w--h {
  height: 30rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .search {
  position: absolute;
  right: 1%;
  top: 100%;
}

.top__news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: inherit;
  background-color: #008088;
  overflow-x: hidden;
  border-bottom-left-radius: 1rem;
}

.top__news__container .list__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__news__container .list__news .news--item {
  width: 10rem;
  font-size: 1rem;
  color: #F0F0F0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24rem;
  height: 7.5rem;
  background-color: #008088;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
  border-radius: 1rem;
  overflow: hidden;
}

.card .card__info h2 {
  font-size: 1.6rem;
  color: #07F1FF;
}

.card .card__info h3 {
  color: #08ACB6;
}

.card .card__info p {
  color: #08ACB6;
}

.card .card__info .conference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card .card__info .conference h3 {
  color: #07F1FF;
}

.card .card__info .trade--volume {
  color: #0DC96E;
}

.card .card__percent {
  color: #0DC96E;
}

.card .card__percent h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card__percent h2 .icon {
  font-size: 1.6rem;
}

.card .card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
  overflow: hidden;
}

.card .card__image .card--image {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card__percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5rem;
}

.card .rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #08ACB6;
  color: #07F1FF;
}

.news__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24rem;
  height: 25rem;
  background-color: #008088;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
}

.news__card .card__cover {
  width: 100%;
  height: 12rem;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
}

.news__card .card__cover .card--cover {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__card .conference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  color: #07F1FF;
}

.news__card .news__info h2 {
  font-size: 2rem;
  color: #07F1FF;
}

.news__card .news__info p {
  font-size: 1.2rem;
  color: #08ACB6;
}

.read__more__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24rem;
  height: 25rem;
  background-color: #008088;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
  border-radius: 1rem;
  overflow: hidden;
  text-align: start;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.read__more__card .icon {
  font-size: 3.5rem;
  color: #07F1FF;
  height: 100%;
}

.read__more__card .icon:hover {
  outline: 1px solid #07F1FF;
}

.read__more__card .read__more h2 {
  font-size: 2rem;
  color: #F0F0F0;
}

.read__more__card .read__more .read__cover {
  opacity: .8;
}

.interest__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  height: 15rem;
  background-color: #04767d;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
}

.interest__card .interest--earned {
  position: absolute;
  right: 10%;
  bottom: 10%;
  font-size: 2rem;
  color: #F0F0F0;
  z-index: 1;
}

.interest__card .learn__earn {
  z-index: 1;
}

.interest__card .learn__earn h2 {
  font-size: 2rem;
  color: #07F1FF;
}

.interest__card .learn__earn p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #08ACB6;
}

.interest__card .study__image {
  width: 30rem;
  position: absolute;
  right: -15%;
  bottom: -15%;
}

.interest__card .study__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .4;
}

.interest__card .earned {
  font-size: 2.4rem;
  color: #07F1FF;
}

.interest__card .earned span {
  color: #F0F0F0;
}

.interest__card .icon {
  font-size: 2.4rem;
  color: #07F1FF;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.btn {
  width: 15rem;
  height: 4rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.btn--primary {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(54%, #1f9ea6), to(#008088));
  background: linear-gradient(180deg, #1f9ea6 54%, #008088 100%);
  color: #07F1FF;
  font-size: 1.6rem;
}

.btn--swap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(54%, #1f9ea6), to(#008088));
  background-image: linear-gradient(180deg, #1f9ea6 54%, #008088 100%);
  outline: 2px solid #00B4BF;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: 700;
  color: #F0F0F0;
}

.btn--swap .icon {
  width: 3rem;
  height: 3rem;
}

.menu--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 5%;
  left: 0;
  background-color: #08ACB6;
  border-left: 3px solid #07F1FF;
  z-index: 1;
}

.menu--button .icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #07F1FF;
}

.crypto__coins {
  position: relative;
  margin-bottom: 3rem;
}

.crypto__table {
  border: 1px solid #07F1FF;
  border-radius: 5px;
  text-align: center;
}

.table__header {
  position: relative;
  font-size: 1.6rem;
  color: #07F1FF;
  height: 3rem;
  border-bottom: 1px solid #07F1FF;
}

.table__header hr {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: .2;
  border: 1px solid #07F1FF;
}

.price {
  font-weight: 700;
  text-align: end;
}

.price .supply {
  font-size: 1.2rem;
  font-weight: 500;
  color: #08ACB6;
}

tr {
  border-bottom: 1px solid #07F1FF;
}

.table__row {
  position: relative;
  border-bottom: 1px solid #07F1FF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: #07F1FF;
}

.table__row td {
  padding-bottom: 1rem;
}

.table__row hr {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: .2;
  border: 1px solid #07F1FF;
}

.rank {
  display: none;
}

.market--cap .market--mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0DC96E;
}

.market--cap .market--mark .icon {
  font-size: 1.6rem;
}

.volume {
  display: none;
}

.coin--rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  background-color: #08ACB6;
  color: #07F1FF;
  border-radius: 5px;
}

.coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.crypto__coin {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.crypto__coin .coin--image {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.coin--name {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: start;
}

.coin--name .short--name {
  width: 5rem;
  text-align: start;
  background-color: #04767d;
  color: #F0F0F0;
  border-radius: 5px;
}

.icon {
  font-size: 2rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

.search .search__icon {
  width: 3rem;
  height: 3.2rem;
}

.search .search__icon .icon {
  width: inherit;
  height: inherit;
  font-size: 2.4rem;
  color: #07F1FF;
  cursor: pointer;
}

.search .search__form {
  width: 20rem;
  height: 3rem;
}

.search .search__form .search--input {
  all: unset;
  width: 100%;
  height: inherit;
  outline: 1px solid #07F1FF;
  color: #F0F0F0;
  font-size: 1.6rem;
  border-radius: none;
  text-align: center;
  background: #04767d;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.home__page {
  width: 100%;
  height: auto;
  position: relative;
}

.home__page .btn--swap {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(352deg, #03d0dd 22%, #014449 100%);
  border-right: 3px solid #07F1FF;
  z-index: 1;
}

.menu .btn {
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.menu .menu--button {
  position: absolute;
  left: 100%;
}

.profile__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  outline: 2px solid #07F1FF;
}

.profile__image img {
  width: calc($profile-image-size - 1rem);
  height: calc($profile-image-size - 1rem);
  border-radius: 50%;
  border: 1px solid #08ACB6;
}

.menu__stats {
  text-align: center;
  color: #F0F0F0;
}

.navbar {
  text-align: start;
}

.navbar .navbar__list .navbar--item {
  font-size: 2rem;
  color: #F0F0F0;
}

.username {
  font-size: 2rem;
}

.balance {
  font-size: 2rem;
}

.balance span {
  color: #07F1FF;
}

.swap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(352deg, #03d0dd 22%, #014449 100%);
  z-index: 1;
}

.swap__back {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 1;
  color: #07F1FF;
}

.swap__back .icon {
  font-size: 2.4rem;
}

.swap__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
}

.swap__options li {
  text-align: center;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 700;
  color: #07F1FF;
}

.swap__options li:hover {
  color: #F0F0F0;
}

.swap__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35rem;
  position: relative;
}

.swap__amount .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
}

.swap__amount .amount .amount__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swap__amount .amount .amount__input label {
  font-size: 3.5rem;
  color: #F0F0F0;
  text-align: center;
}

.swap__amount .amount .amount__input .amount--input {
  width: 15rem;
  height: 15rem;
  text-align: center;
  font-size: 10rem;
  background: none;
  outline: none;
  border: none;
  color: #F0F0F0;
}

.swap__amount .amount h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10rem;
  color: #F0F0F0;
}

.swap__amount .amount h2 span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 2.4rem;
}

.swap__amount .amount p {
  font-size: 1.2rem;
  color: #AFFAFF;
}

.swap__amount .amount .time__purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  height: 3rem;
  border: 1px solid #07F1FF;
}

.swap__crypto {
  text-align: center;
  position: absolute;
  right: 10%;
  top: 10%;
  color: #F0F0F0;
}

.swap__crypto .icon {
  font-size: 3.5rem;
  color: #07F1FF;
}

.swap__transaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: #F0F0F0;
  border: 1px solid #07F1FF;
}

.swap__transaction .swap__asset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.swap__transaction .swap__asset .coin__asset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.swap__transaction .swap__asset .coin__asset img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.swap__transaction .icon {
  color: #07F1FF;
}

.swap__transaction:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.swap__transaction:nth-child(2) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.swap__trade {
  position: relative;
  margin-bottom: 3rem;
}

.swap__trade .swap--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10%;
  font-size: 3.5rem;
  color: #F0F0F0;
  background-color: #08ACB6;
  border-radius: 50%;
}

.swap__trade .swap--icon .icon {
  width: inherit;
  height: inherit;
}

.swap__balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 1%;
  font-size: 1.6rem;
}

.swap__balance :first-child {
  color: #08ACB6;
}

.swap__balance :nth-child(2) {
  color: #F0F0F0;
}

.asset__swap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(228deg, #04747c 22%, #252525 100%);
  z-index: 1;
}

.asset__swap h2 {
  font-size: 2rem;
  color: #07F1FF;
  margin: 2rem 0;
}

.asset__swap .close {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 3rem;
  height: 3rem;
}

.asset__swap .close .icon {
  width: inherit;
  height: inherit;
  color: #08ACB6;
}

.asset__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 0;
  height: 5rem;
  border-radius: 1rem;
  border: 1px solid #07F1FF;
}

.asset__search .icon {
  padding-left: 1rem;
  width: 4rem;
  height: inherit;
  color: #07F1FF;
}

.asset__search input {
  width: 100%;
  height: inherit;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  font-size: 2rem;
  color: #07F1FF;
}

.asset__list {
  height: auto;
  overflow-y: scroll;
  position: relative;
  font-size: 1.6rem;
  padding: 0 1rem;
}

.asset__list .asset--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
}

.asset__list .asset--item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.asset__list .asset--item .asset--logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.asset__list .asset--item .asset--logo img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.asset__list .asset--item .asset--name {
  color: #08ACB6;
  display: -ms-inline-grid;
  display: inline-grid;
}

.asset__list .asset--item .asset--name strong {
  color: #F0F0F0;
}

.asset__list .asset--price {
  display: -ms-inline-grid;
  display: inline-grid;
  text-align: end;
  color: #07F1FF;
}

.asset__list .asset--price .gainer {
  font-size: 1.6rem;
  font-weight: 300;
  color: #0DC96E;
}

.asset--bank--item {
  margin: 1.5rem 0;
  height: auto;
  border: 1px solid #00B4BF;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 11px #022d33;
          box-shadow: 0px 0px 11px #022d33;
}

.asset--bank--item .asset--bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  background: #04767d;
  border-bottom: 1px solid #00B4BF;
}

.asset--bank--item .asset--bank .icon {
  width: 3rem;
  height: 3rem;
  color: #07F1FF;
}

.asset--bank--item .asset--bank .asset--bank--name {
  display: -ms-inline-grid;
  display: inline-grid;
  text-transform: capitalize;
  color: #F0F0F0;
  text-align: center;
}

.asset--bank--item .asset--bank .asset--bank--name strong {
  color: #AFFAFF;
}

.asset--bank--item p {
  padding: 1rem;
  color: #08ACB6;
  background-color: #008088;
}

::-webkit-input-placeholder {
  color: #08ACB6;
}

:-ms-input-placeholder {
  color: #08ACB6;
}

::-ms-input-placeholder {
  color: #08ACB6;
}

::placeholder {
  color: #08ACB6;
}

.title {
  font-size: 2rem;
  color: #F0F0F0;
}

.blur {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #04767d;
  top: 0;
  left: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: .3;
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(228deg, #04747c 22%, #252525 100%);
  z-index: -2;
}

.glass {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #04767d;
  -webkit-filter: contrast(1);
          filter: contrast(1);
  opacity: 0.4;
  z-index: -1;
}

.background__image {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background__image .background--image {
  width: 150%;
  height: inherit;
  position: absolute;
  left: 50%;
  bottom: -35%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: .4;
}

.main {
  width: 100%;
  height: 100vh;
  border-bottom: 2px solid #08ACB6;
  margin-bottom: 1rem;
  position: relative;
}

.main .btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=styles.css.map */