@media only screen and ( min-width: 768px ) {
  .asset__page {
    // width: 95%;
    padding: 1rem;
    .right__side {
      .only__for__you {
        display: flex;
        justify-content: space-between;
      }
      .interest__card {
        width: 49%;
      }
    }
  }
}



@media only screen and ( min-width: 1024px ) {


  .asset__page {
    width: 79%;
    float: right;
    // pad: 1rem;
    .right__side {
      display: flex;
      justify-content: space-between;
  
      .asset__transactions {
        width: 49%;
      }
  
      .only__for__you {
        display: block;
        width: 49%;
  
        .interest__card {
          width: 100%;
        }
      }
    }
  }

  .asset__info {
    .asset__stats {
      // border: 1px solid red;
      .asset__stats__top {
        flex-wrap: nowrap;
      }
      .asset__global__stats {
        li {
          width: 30%;

          &:last-child {
            font-size: $extra-large-font-size;
            span {
              font-size: $extra-large-font-size;

            }
          }
        }
        
      }
    }
  }

  
}


@media only screen and ( min-width: 1024px ) and ( min-height: 1366px ) {
  .asset__page {
    width: 95%;
    margin: 0 auto;
    float: none;
  }

  .asset__info {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .asset__network {
      border: 1px solid $border-color;
      border-radius: 1rem;
    }
    .asset__stats {
      border: 1px solid $border-color;
      border-radius: 1rem;
    }
  }
}

@media only screen and ( min-width: 1366px ) {
  .asset__page {
    display: flex;
    justify-content: space-between;
  }
  .asset__main__info {
    width: 70%;
  }
  .aside__content {
    // position: fixed;
    width: 29%;
    // right: 1%;
  }
  .tickers {
    overflow-y: scroll;
  height: 100vh;
  }
}

// @media only screen and ( min-width: 1600px ) {

//   .asset__page {
//     display: flex;
//     justify-content: space-between;
//   }
//   .asset__main__info {
//     width: 70%;
//   }
//   .aside__content {
//     // position: fixed;
//     width: 29%;
//     // right: 1%;
//   }
//   .tickers {
//     overflow-y: scroll;
//   height: 100vh;
//   }
// }

@media only screen and ( min-width: 1600px ) {
  .asset__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
 
@media only screen and (min-width: 1920px ) {
  .asset__page {
    // display: grid;
    // grid-template-columns: 3fr 1fr;
    // gap: 1rem;
    width: 90%;
    float: right;

    .right__side {
      display: block;
      .asset__transactions {
        width: 100%;
      }

      .only__for__you {
        width: 100%;
      }
    }
  }
}