@media only screen and ( min-width: 667px ) and ( min-height: 375px ) {
  .quiz__completed {
    // height: 100vh;
  }

  .quiz__layout {
    padding-top: 20rem;
    .quiz__content {
      
      .quiz__video {
        height: 25rem;
      }
    }
  }

}

@media only screen and ( min-width: 768px ) {
  .quiz__completed {
    // height: 100vh;
  }

  .quiz__layout {
    padding-top: 20rem;
    .quiz__content {
      height: auto;
      .quiz__video {
        height: 45rem;
      }
    }
  }

}

@media only screen and ( min-width: 1024px ) {
  .earn__page {
    width: 80%;
    float: right;
  }
}

@media only screen and ( min-width: 1024px ) and ( min-height: 1366px ) {
  .earn__page {
    width: 100%;
  }
  
}

@media only screen and ( min-width: 1920px ){
  .earn__page {
    width: 90%;
    float: right;
  }

  .quiz__layout {
    .quiz__content {
      width: 80%;
      // wid
      .quiz__video {
        height: 60rem;
        margin: 0 auto;
      }
    }
  }
}