@media only screen and ( min-width: 667px ) and ( min-height: 375px ) {
  .quiz__completed {
    // height: 100vh;
  }

  .quiz__layout {
    padding-top: 20rem;
    .quiz__content {
      // height: ;
      .quiz__video {
        height: 25rem;
      }
    }
  }

  .learn__section {
   
    .wrapper__cards {
      justify-content: space-between;
      .learn__card {
        width: 49%;

      }
    }
  }
}

@media only screen and ( min-width: 768px ) {
  .quiz__completed {
    // height: 100vh;
  }

  .quiz__layout {
    padding-top: 20rem;
    .quiz__content {
      height: 100%;
      .quiz__video {
        height: 60rem;
      }
    }
  }

  .learn__section {
  
  
    .wrapper__cards {
      justify-content: flex-start;
      .learn__card {
        width: 30%;
        margin: 1rem;
        min-height: 25rem;
        // padding: 0 1rem;
      }
    }
  }
}

@media only screen and ( min-width: 1024px ) {
  .earn__page {
    width: 80%;
    float: right;
  }
}

@media only screen and ( min-width: 1024px ) and ( min-height: 1366px ) {
  .earn__page {
    width: 100%;
  }
  
}

@media only screen and ( min-width: 1920px ){
  .earn__page {
    width: 90%;
    float: right;
  }

  .quiz__layout {
    padding-top: 0;
    .quiz__content {
      width: 80%;
      // wid
      // height: 60%;
      .quiz__video {
        height: 80rem;
        margin: 0 auto;

      }
      h2 {
        font-size: $jumbo-font-size;
      }

      p {
        font-size: $extra-large-font-size;
      }
    }
  }

  .learn__section {
  
  
    .wrapper__cards {
      justify-content: flex-start;
      .learn__card {
        width: 18%;
        margin: 1rem;
        // padding: 0 1rem;
      }
    }
  }
}