@media only screen and  ( min-width: 667px ) and ( min-height: 375px ) {
  .menu {
    width: 70%;

    .profile__image {
      width: 5rem;
      height: 5rem;
      margin: 0;

      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  .volume {
    display: revert;
  }
  .rank {
    display: revert;
  }
  .market--cap--24h {
    display: revert;
  }
    
}

@media only screen and ( min-width: 768px ) {
  // .home__page {
  //   .home__main {
  //     width: 80%;
  //     float: right;
  //   }
  // }
  // .menu {
  //   width: 30%;
  // }
  .gainers__losers {
    display: flex;
    justify-content: space-between;



    .feature__gainers {
      width: 32%;
      
    }
    .feature__losers {
      width: 32%;
      
    }
    
    .feature__assets__random {
      width: 32%;
      
    }
  }


  .for__you {
    display: flex;
    justify-content: space-between;

    .interest__card {
      width: 49%;
    }
  }

  .swap {
    width: 60%;
    right: 0;
    left: unset;
  }
}

@media only screen and ( min-width: 1024px ) {
  .main {
    display: none;
  }
  
  .home__page {
    .home__main {
      width: 80%;
      float: right;
    }
  }
  .menu {
    // display: none;
  }

  .desk__menu {
    display: flex;
    width: 20%;
  }
}

@media only screen and ( min-width: 1024px ) and ( min-height: 1366px ) {
  .desk__menu {
    display: none;
  }

  .menu {
    // display: none;
    width: 30%;
  }
  .home__page {
    .home__main {

      width: 100%;
    }
    // float: revert;
    
  }

}

@media only screen and ( min-width: 1024px ) {
  .feature {
    .gainers__losers {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and ( min-width: 1680px ) {
  .navbar {
    
    .navbar__list {
      .navbar--item {
        font-size: $extra-large-font-size;
        margin-bottom: 2rem;
      }
    }
  }

  .feature {
    .gainers__losers {
     .feature__losers {
      .feature__list {
        .top--asset {
          h3 {
            font-size: $extra-large-font-size;
          }
    
          figure {
            width: 5rem;
            height: 5rem;
          }
        }
      }
     }
     .feature__gainers {
      .feature__list {
        .top--asset {
          h3 {
            font-size: $extra-large-font-size;
          }
    
          figure {
            width: 5rem;
            height: 5rem;
          }
        }
      }
     }
    }
  }
  .table__header {
    font-size: $extra-large-font-size;
  }
  
  .table__row {
    font-size: $large-font-size;
    color: $font-color;

  }
}

@media only screen and ( min-width: 1920px ) {
  .header {
    z-index: 3;
  }
  .home__page {

    .home__main {
      width: 90%;
    }
  }
  .desk__menu {
   width: 10%; 
  }

  .supply {
    display: revert;
  }
  .feature {
    .gainers__losers {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .for__you {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    // justify-content: start;
    .interest__card {
      // width: 32%;
      width: 100%;
      margin-right: 1rem;
    }
  }
}