@media only screen and ( min-width: 667px ) and ( min-height: 375px ) {
  .news__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .news__page {
    // .news__aside {
    //   display: none;
    // }
  }
}

@media only screen and ( min-width: 768px ) {
  .news__info__aside {
    width: 70%;
  }
}

@media only screen and ( min-width: 1024px ) {
  .news__page {
    
  }
  .main__news__card {
    left: 25%;
  }

  .news__grid {
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    .news__card {
      width: 95%;
    }
  }

  .news__info__aside {
    width: 50%;
  }
}

@media only screen and ( min-width: 1366px ) {
  .news__page {
    width: 79%;
    float: right;
  }
}

@media only screen and ( min-width: 1920px ) {
  .news__page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    width: 90%;

    .news__main {
      .news__grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .news__aside {
      display: flex;
      .news__info__aside {
        padding: 3rem 0;
        width: 29%;
        padding-bottom: 5rem;
        .news__content {
          h2 {
            display: flex;
            justify-content: flex-end;
          }
          .close {
            display: none;
          }
          figure {
            height: 50rem;
          }

          .btn {
            // margin: 3rem;
            // margin-bottom: 5rem;
          }
        }
      }

      .news__background {
        display: none;
      }
    }

    .news__modal{
      display: none;
    }
    // .news__grid {
    //   display: grid;
    //   grid-template-columns: repeat(4, 1fr);
    //   gap: 1rem;
    //   .news__card {
    //     width: 95%;
    //   }
    // }
  }
}