@media only screen and ( min-width: 667px ) and ( min-height: 375px ) {
  .news__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media only screen and ( min-width: 1024px ) {
  .news__page {
    width: 79%;
    float: right;
  }
  .main__news__card {
    left: 25%;
  }

  .news__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .news__card {
      width: 45%;
    }
  }
}