@media only screen and ( min-width: 768px ) {
  .pay__page {

    .recieve__section {

      .qr--code {
        display: flex;
        justify-content: center;
        width: 70%;
        margin: 0 auto;

      }
    }
    
    .send__section {
      width: 50%;

      .form__send {
        width: 100%;
      }
    }
    .asset__swap {
      width: 50%;
      left: revert;
      right: 0;
      z-index: 2;
    }

    .pay__aside {
      display: flex;
      justify-content: space-between;
      // width: 100%;
      .asset__transactions {
        width: 49%;

        li {
          margin: 0;
        }
      }

      .only__for__you {
        width: 49%;
      }
    }
  }
}

@media only screen and ( min-width: 1024px ) {
  .pay__page {
    width: 79%;
    float: right;
  }
}

@media only screen and ( min-width: 1024px ) and ( min-height: 1366px ) {
  .pay__page {
    width: 100%;
  }
  
}

@media only screen and ( min-width: 1920px ) {
  .pay__page {
    width: 90%;
    
    .pay__main__section {
      display: flex;
      // grid-template-columns: repeat(2, 1fr);

      .pay__main {
        width: 50%;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // gap: 1rem;
        overflow: hidden;
  
        .send__section {
          width: 95%;
          margin: 0 auto;
        }
        
      }
    }
    .asset__swap {
      width: 25%;
      z-index: 3;
    }

    .pay__aside {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-right: 1rem;
      .asset__transactions {
        // box-shadow: none;
        width: 100%;
        margin-bottom: 1rem;

        .asset__transaction__list {
          // box-shadow: $box-shadow;
        }
      }

      .only__for__you {
        width: 100%;
      }
    }
  }
}