@media only screen and ( min-height: 375px ) {
  .chart__options {
    width: auto;
    .chart__list__options {
      
      li {
        margin-right: 1rem;
      }
    }
  }
}

@media only screen and ( min-width: 768px ) {
  .portafolio__aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media only screen and ( min-width: 1024px ) {
  .portafolio {
    width: 79%;
    float: right;
  }
}


@media only screen and ( min-width: 1024px ) and ( min-height: 1366px ) {
  .portafolio {
    width: 100%;
  }
  
}