@media only screen and  ( min-height: 375px ) {
  .swap {
    overflow-y: scroll;
    .swap__back {
      position: fixed;
    }
    .swap__options {
      margin-top: 3rem;
    }

    .asset__swap {
      height: auto;
      
      .asset__search {
        width: 80%;
        margin: 0;
      }
      .close {
        position: fixed;
        z-index: 1;
      }
    }
  }
}