@media only screen and  ( min-height: 375px ) {
  .swap {
    overflow-y: scroll;
    .swap__back {
      // position: fixed;
    }
    .swap__options {
      margin-top: 3rem;
    }

    .asset__swap {
      // height: auto;
      
      .asset__search {
        width: 80%;
        margin: 0;
      }
      .close {
        position: fixed;
        z-index: 1;
      }
    }
  }
}

@media only screen and ( min-width: 667px ) and ( min-height: 375px ) {
  .register__card {
    position: absolute;
    height: auto;
    padding-top: 1rem;
    overflow-y: scroll;

    .card__preview {
      height: 25rem;
    }
  }
}
@media only screen and ( min-width: 768px ) {
  .swap {
    // width: 50%;
    justify-content: center;

    .swap__options {
      margin: 0;
    }

    .swap__buy {
      width: 80%;
      margin-bottom: 5rem;
    }

    .swap__balance {
      width: 50%;
    }

    .asset__swap {
      overflow: hidden;
      .close {
        position: absolute;
      }
      .backgroun__image {
        opacity: 0.3;
      }
      .background{
       display: none;
      }
    }
  }
}


@media only screen and ( min-width: 1024px ) {
  .swap {
    width: 50%;
    left: revert;
    right: 0;
    margin: 0;
    .swap__trade {
      width: 100%;
    }
  }
}

@media only screen and ( min-width: 1920px ) {
  .swap {
    width: 25%;
    overflow: hidden;

    .asset__swap {
      height: 100%;
      .register__card {
        // margin-top: 3rem;
        justify-content: center;
        height: inherit;
      }
    }
  }
}