@media only screen and ( min-width: 1024px ) {
  .trade__section {
    width: 79%;
    float: right;

    .crypto__coins {
      margin-top: 1rem;
    }
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // display: flex;

    h2 {
      text-align: start;
      margin-bottom: 0;
    }
    .pagination__list {
      width: 60%;
    }

  }
}

@media only screen and ( min-width: 1024px ) and ( min-height: 1366px ) {
  .trade__section {
    width: 100%;
  }
  
}

@media only screen and ( min-width: 1920px ) {
  // .gainers__losers {
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   gap: 1rem;
  // }
    .pagination {
      .pagination__list {
        width: 30%;
      }
    }

  .trade__section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    // align-items: center;
    gap: 1rem;
    // align-items: center;
    width: 90%;

    .trade__aside {
      display: revert;
      margin-top: 8rem;
      .swap {
        width: 100%;
        height: 80rem;
        position: relative;
        border-radius: 1rem;
        margin-bottom: 1rem;

        .swap__back {
          display: none;
        }
      }
      
      .news__info__aside {
        width: 100%;
        position: relative;
        height: auto;
        padding-bottom: 3rem;
        border-radius: 1rem;
        margin-bottom: 1rem;

        .news__content {
          .close {
            display: none;
          }
        }
        .news__background {
          display: none;
        }
      }
    }
  }
}